body {
    color: #fbf0c2;
    background-color: #0e0e0e;
    font-size: 20px;
    font-family: "field-gothic-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
   
}


h1 {
    font-size: 4em;
}


.title h1 {
    margin-top: 40px;
    margin-left: 40px;
}

.nav {
    margin-top: 0;
    top: 0;
    border-bottom: 2px solid #52d99a;
    
}

.home {
    margin-left: 20px;
    width: 80px;
    font-size: 20px;
}



.nav a {

    text-decoration: none;
    color: inherit;
    
    
}



.nav a:hover {
    transform: scale(1.2); 
    color: #52d99a;
  }



.info {
    width: 80%;
    margin-left: 40px;
    font-size: 40px;
}

.echo_page {
    display: flex;
}
.echo_page_text {
    width: 40%;
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 200px;
}

.echo_page_image {
    position: relative;
    width: 30%;
    height: auto;
    margin:0;

}

.influence_page {
    display: flex;
    position: relative;
    left: 100px ;
    top: 80px;
    margin-bottom: 200px;
}

.influence_page_text {
    width: 30%;
    margin-top: 50px;
}

.influence_page img {
    width: 70%;
    height: 100%;
    margin-right: 200px;
}


 